.loginScreen{
    position: relative;
    background: url('../../public/images/background_banner.jpg') center no-repeat;
    background-size: cover;
    height: 100%;
}   

.loginScreen__logo{
    position: fixed;
    left: 0;
    width: 150px;
    object-fit: contain;
    padding-left: 20px;
    cursor: pointer;
}

.loginScreen__button{
    position: fixed;
    right: 20px;
    top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #e50914;
    font-weight: 600;
    cursor: pointer;
    border: none;
}

.loginScreen__gradient{
    width: 100%;
    height: 100vh;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(
        to top,
        rgba(0,0,0,0.8) 0,
        rgba(0,0,0,0) 60%,
        rgba(0,0,0,0.8) 100%
    );
}

.loginScreen__body{
    position: absolute;
    top: 18%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 1;
    color: #fff;
    padding: 20px;
    left: 0;
    right: 0;
}

.loginScreen__body > h1{
    font-size: 2.1rem;
    margin-bottom: 20px;
}

.loginScreen__body > h2{
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.loginScreen__body > h3{
    font-size: 0.9rem;
    font-weight: 400;
}

.loginScreen__input > form > input{
    padding: 10px;
    outline: none;
    height: 30px;
    width: 100%;
    border: none;
    max-width: 600px;
    margin-bottom: 20px;
}

.loginScreen__getStarted{
    padding: 15.7px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #ef0914;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

.loginScreen__input{
    margin: 25px;
}

@media screen and (max-height: 415px){
    .loginScreen__body{
        top: 16% !important; 
    }

    .loginScreen__input > form > input{
        width: 50% !important;
    }

    .loginScreen__body > h1{
        font-size: 1.9rem !important;
    }
    .loginScreen__body > h2{
        font-size: 1.4rem !important;
    }
    .loginScreen__body > h3{
        font-size: 1rem !important;
    }
}

@media screen and (min-width: 800px) and (min-height:415px){
    .loginScreen__body{
    top: 30%;
    }

    .loginScreen__input > form > input{
        width: 30% !important;
    }

    .loginScreen__body > h1{
        font-size: 3.125rem !important;
    }
    .loginScreen__body > h2{
        font-size: 2rem !important;
    }
    .loginScreen__body > h3{
        font-size: 1.3rem !important;
    }
}

