.plansScreen__plan{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    opacity: 0.8;
}

.plansScreen__plan:hover {
    opacity: 1;
}

.plansScreen__plan > button {
    padding: 10px 20px;
    margin-left: 15px;
    font-size: 1rem;
    color: white;
    background-color: #e50914;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.plansScreen__plan--disabled > button {
    background-color: grey;
    cursor: default;
}

.plansScreen__renewalDate{
    margin-top: 5px;
}

.planScreen__preLoader{
    text-align: center;
    margin: 106.5px;
}