.signupScreen{
    color: white;
    position: absolute;
    top:25%;
    text-align: center;
    max-width: 50vw;
    padding: 70px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(0,0,0,0.85);
    left: 0;
    right: 0;
}

@media screen and (min-width: 800px){
    .signupScreen{
        max-width: 300px;
        top: 18%;
    }
}

.signupScreen > form {
    display: grid;
    flex-direction: column;
}

.signupScreen > form > h1 {
    text-align: left;
    margin-bottom: 30px;
}

.signupScreen__inputs > input {
    padding: 5px 15px;
    width: 100%;
    box-sizing: border-box;
    outline-width: 0;
    height: 50px;
    margin-bottom: 14px;
    border-radius: 5px;
    border: none;  
}

.signupScreen > form > button{
    padding: 16px 20px;
    font-size: 1rem;
    color: #fff;
    border-radius: 5px;
    background-color: #e50914;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.signupScreen > form > h4 {
    text-align: left;
    margin-top: 30px;
}

.signupScreen__gray{
    color: grey;
}

.signupScreen__link:hover{
    cursor: pointer;
    text-decoration: underline;
}

@media screen and (max-height: 415px){
    .signupScreen{
        top: 19% !important;
        max-width: 80vw !important;
        padding: 28px !important;
    }
    .signupScreen__inputs{
        display: flex !important;
        gap: 30px !important;
    }
    .signupScreen > form > button{
        margin-top: 8px !important;
    }
    .signupScreen > form > h4 {
        margin-top: 15px !important;
    }
}
